@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #f4f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.stop__watch__container {
  background-color: #fff;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px gray;
  .stop__watch__content {
    .stop__watch {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      span {
        font-size: 50px;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      button {
        padding: 40px;
        border-radius: 10px;
        font-size: 20px;
        border: none;
        background-color: #5dade2;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        &:hover {
          -ms-transform: scale(1.05);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          transition: 0.3s ease-in;
          box-shadow: 5px 5px 5px #060b0e;
        }
      }
      button:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
